.user__menu
{
    position: fixed;
    top:50px;
    right:0px;
    width:200px;
    padding:10px;
    display: none;
    background-color: red;
    /*background-color: var(--button-background); */
    flex-direction: column;
    z-index: 1000;
    gap:20px;
    border:0.5px solid white;
}
